.time-weather-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  color: white;
  background: #4e78ae;
  border-radius: 10px;
  padding: 20px;
  gap: 12px;
  text-align: center;
  font-size: 1em;
}
.time-weather-card__time {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
}
.time-weather-card__temp {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
}

.time-weather-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-content: center;
  margin-top: 40px;
}

@media (max-width: 800px) {
  .time-weather-card {
    padding: 15px;
    font-size: 0.8em;
  }
}
@media (max-width: 700px) {
  .time-weather-card {
    padding: 30px;
    gap: 5px;
    font-size: 20px;
  }
}
@media (max-width: 550px) {
  .time-weather-card {
    padding: 20px;
  }
}
@media (max-width: 450px) {
  .time-weather-card {
    padding: 15px;
  }
}
@media (max-width: 420px) {
  .time-weather-card {
    padding: 12px;
    font-size: 15px;
  }
}
