@import "../Variables/Variables.scss";


.time-weather-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: #FFFF;
    background: $active-weather;
    border-radius: 10px;
    padding: 20px;
    gap: 12px;
    text-align: center;
    font-size: 1em;


    &__time {
        @include font(400)
    }

    &__temp {
        @include font(900)
    }
}


.time-weather-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-content: center;
    margin-top: 40px;
}


@media (max-width: 800px) {
    .time-weather-card {
        padding: 15px;
        font-size: 0.8em;
    }
}


@media (max-width: 700px) {
    .time-weather-card {
        padding: 30px;
        gap: 5px;
        font-size: 20px;
    }

}

@media (max-width: 550px) {
    .time-weather-card {
        padding: 20px;
    }
}

@media (max-width: 450px) {
    .time-weather-card {
        padding: 15px;
    }
}

@media (max-width: 420px) {
    .time-weather-card {
        padding: 12px;
        font-size: 15px;
    }
}