.swiper-button-next {
    color: #36208e !important;
}

.swiper-button-prev, .swiper-pagination-bullet-active { @extend .swiper-button-next}

.swiper-pagination-bullet-active {
    background:  #36208e !important;
}

.swiper-pagination {
    position: static !important;;
}